<footer class="page-footer">
    <style>
        .copyright {
            height: 60px;
        }
    </style>
    <p class="copyright">© 2014 Copyright Text<a class="grey-text text-lighten-4 right" href="#!">More Links</a></p>
</footer>
<script src="/scripts/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>